template(name='navbar')
    nav.navbar.navbar-default(role='navigation')
        .navbar-center.navbar-brand
            a.navbar-brand(href="{{ pathFor 'home' }}")
                img(src='/logo.png')
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        span.caret
                        | Einstellungen
                    ul.dropdown-menu(role='menu')
                        li
                            a(href="{{ pathFor 'employees' }}") Mitarbeiter
                        li
                            a(href="{{ pathFor 'projects' }}") Projekte
