template(name='home')
    .col-sm-12
        each employees
            .col-sm-3.m-t-lg
                a(type="button")
                    button.btn.btn-xlarge.btn-default(style="background-color: {{color}};")#employee-button=name
