template(name='employee')
    .row
        .col-xs-12.text-center
            h1 {{ name }}
            .checkbox
                label
                    input(type='checkbox' id='nine-o-clock-break')
                    | Macht Pause von 9:00 - 9:15 (Maschinenhalle)
    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Projekte
                .panel-body
                    ul.list-group
                        each projects
                            li.list-group-item {{ projectNr }} - {{ machineNr }} {{ machineType }} - {{ customer }}
                                i.fa.fa-times.text-right.remove-project(data-project-id='{{_id}}' style='float:right; cursor:pointer;')
    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Neues Projekt zu Mitarbeiter hinzufügen
                .panel-body
                    select.form-control#project-selector
                        option(value="default" disabled="disabled" selected) Auswählen
                        each availableProjects
                            option(value='{{_id}}') {{ projectNr }} - {{ machineNr }} {{ machineType }} - {{ customer }}

    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Stempelzeiten
                .panel-body
                    ul.list-group
                        li.list-group-item
                                .row
                                    strong.col-xs-5 Projekt
                                    strong.col-xs-2 Tag
                                    strong.col-xs-2 Startzeit
                                    strong.col-xs-2 Endzeit
                        each recordings
                            li.list-group-item
                                .row
                                    .col-xs-5 {{ getProject projectId }}
                                    .col-xs-2.recording-day {{ getDay startDate }}
                                    .col-xs-2.recording-start-time {{ getTime startDate }}
                                    .col-xs-2.recording-stop-time {{ getTime stopDate }}
                                    .col-xs-1.remove-timestamp
                                        i.fa.fa-times

    .row
        .col-sm-10.col-sm-offset-1.text-center
            button.btn.btn-success#export-employee Mitarbeiter exportieren

    .modal.fade#edit-timestamp-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4.modal-title Stempelzeit bearbeiten
                .modal-body.text-center
                    .row
                        input#time-input(type='time')
                    .row.m-t-md
                        button.btn.btn-success#edit-timestamp Bearbeiten
                        button.btn(data-dismiss='modal') Abbrechen
    +removeModal