template(name='projects')
    .row
        .col-sm-6.col-sm-offset-3
            .panel.panel-default
                .panel-heading Projekte
                .panel-body
                    ul.list-group
                        each projects
                            li.list-group-item {{ name }}
                                i.fa.fa-times.text-right.remove-project(data-project-id='{{_id}}' style='float:right; cursor:pointer;')
    .row    
        .col-sm-4.col-sm-offset-4.m-t-lg
            form#new-project-form(role='form')
                .form-group
                    h4 Neues Projekt erstellen
                    input.form-control(id='new-project-input' type='text' name='name' placeholder='Name' required)
                button.btn.btn-sm.btn-default#new-project-submit(type='submit') Erstellen