template(name='recording')
    .row
        .col-xs-12.text-center
            h3 {{ projectName }}
    .row
        .col-xs-7.text-center
            h5 Datum
            .date-picker.m-t-lg
        .col-xs-5.text-center
            h5 Dauer
            .start-time-picker
    .row
        .col-xs-4.col-xs-offset-4.text-center.m-t-lg
            button.btn.btn-xlarge.btn-success#finish-button Fertig
    .row
        .col-xs-6.col-xs-offset-3.m-t-lg
            .form-group
              label(for='comment') Kommentar:
              textarea#comment.form-control(rows='20')