template(name='employeeAdmin')
    .row
        .col-xs-12.text-center
            h1 {{ name }}

    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Stempelzeiten
                .panel-body
                    ul.list-group
                        li.list-group-item
                                .row
                                    strong.col-xs-6 Projekt
                                    strong.col-xs-3 Tag
                                    strong.col-xs-2 Dauer
                        each recordings
                            li.list-group-item
                                .row
                                    .col-xs-6 {{ getProject projectId }}
                                    .col-xs-3 {{ getDate date }}
                                    .col-xs-2 {{ getDuration duration }}
                                    .col-xs-1.remove-timestamp
                                        i.fa.fa-times.pointer

    .row
        .col-sm-10.col-sm-offset-1.text-center
            button.btn.btn-success#export-employee Mitarbeiter exportieren

    .modal.fade#edit-timestamp-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                    h4.modal-title Stempelzeit bearbeiten
                .modal-body.text-center
                    .row
                        input#time-input(type='time')
                    .row.m-t-md
                        button.btn.btn-success#edit-timestamp Bearbeiten
                        button.btn(data-dismiss='modal') Abbrechen
    +removeModal