template(name='exporter')
    .text-center
        .panel.panel-default
            .panel-body
                form
                    .form-group
                        label Start
                            input(type='date' name='start')
                    .form-group
                        label Stop
                            input(type='date' name='stop')
                    button.btn.btn-default(type='submit') Exportieren
        button.btn.btn-default.m-md#export-all-recordings Alle Stempelzeiten exportieren
        button.btn.btn-default.m-md#export-all-projects Alle Projekte exportieren
        button.btn.btn-default.m-md#export-all-employees Alle Mitarbeiter exportieren