template(name='selectProject')
    .row
        .col-xs-12
            each projects
                .col-xs-6.m-t-lg
                    a(type="button" href="/recording/{{userId}}/{{_id}}")
                        button.btn.btn-default.btn-xlarge {{ projectNr }} - {{ machineNr }} {{ machineType }} - {{ customer }}