template(name='employeesAdmin')
    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Bestehende Mitarbeiter
                .panel-body
                    ul.list-group
                        each employees
                            li.list-group-item
                                .row
                                    .col-xs-10
                                        a(href='admin/employee-admin/{{_id}}') {{ name }}
                                    .col-xs-2
                                        i.fa.fa-times.pointer.remove-employee(data-employee-id='{{_id}}' style='float:right;')                                         

    .row
        .col-sm-10.col-sm-offset-1.m-t-lg
            .panel.panel-default
                .panel-heading Neuen Mitarbeiter erfassen
                .panel-body
                    form#new-employee-form(role='form')
                        .form-group
                            input.form-control(id='new-employee-input' type='text' name='name' placeholder='Name' required)
                        button.btn.btn-sm.btn-default#new-employee-submit(type='submit') Erstellen