template(name='admin')
    .panel.panel-default
        .panel-heading Projekte
        .panel-body
            +projectsAdmin
    .panel.panel-default.m-t-lg
        .panel-heading Mitarbeiter
        .panel-body
            +employeesAdmin
    .panel.panel-default.m-t-lg
        .panel-heading Einstellungen
        .panel-body
            +settingsAdmin
    +removeModal