template(name='projectsAdmin')
    .row
        .col-sm-10.col-sm-offset-1
            .panel.panel-default
                .panel-heading Bestehende Projekte
                .panel-body
                    ul.list-group
                        each projects
                            li.list-group-item
                                .row
                                    .col-xs-7 {{ projectNr }}_{{ machineNr }}_{{ machineType }}_{{ customer }}
                                    .col-xs-2
                                        if finished
                                            button.btn.btn-sm.btn-success.reopen-project Abgeschlossen
                                        else
                                            button.btn.btn-sm.finish-project Abschliessen
                                    .col-xs-2
                                        button.btn.btn-sm.export-project(data-project-id='{{_id}}') Exportieren
                                    .col-xs-1
                                        i.fa.fa-times.pointer.remove-project(data-project-id='{{_id}}' style='float:right;')

    .row    
        .col-sm-10.col-sm-offset-1.m-t-lg
            .panel.panel-default
                .panel-heading Neues Projekt erstellen
                .panel-body
                    form#new-project-form(role='form')
                        .form-group
                            input.form-control(type='text', name='projectNr' placeholder='Projektnummer' required)
                            input.form-control.m-t-md(type='text', name='machineNr' placeholder='Maschinennummer' required)
                            select.form-control.m-t-md(name='machineType' required)
                                option(value='default' disabled='disabled' selected) Maschinen-Typ
                                each machineTypes
                                    option(value='{{name}}') {{ name }}
                            input.form-control.m-t-md(type='text' name='customer' placeholder='Kunde' required)

                        .checkbox
                            label
                                input(type='checkbox' id='assign-employees' checked)
                                | Allen Mitarbeiter zuweisen
                        button.btn.btn-default#new-project-submit(type='submit') Erstellen